<template>
	<footer>
		<p>
			Serj Gonchar
		</p>
	</footer>
</template>

<script>
	export default {
		name: "Footer"
	}
</script>

<style scoped>
	footer {
		background-color: #41b883;
		height: 100px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		align-content: stretch;
	}
</style>