<template>
	<header>
		<nav>
			<ul>
				<router-link
					v-for="link in linksForAll"
					tag="li"
					:key="link.url"
					active-class="active"
					:to="link.url"
					:exact="link.exact"

				>
					<a href="#">{{ link.title }}</a>
				</router-link>
				<router-link
						v-for="link in linksForLoggined"
						tag="li"
						:key="link.url"
						active-class="active"
						:to="link.url"
						:exact="link.exact"
						v-show="userId"
				>
					<a href="#">{{ link.title }}</a>
				</router-link>


			</ul>
			<ul>
				<li
					class="logout_link"
					@click.prevent="loguot"
					v-show="userId"
				>
					<a href="#">Выход</a>
				</li>
				<li class="login_link" v-show="!userId"
				>
					<router-link to="/login">Вход</router-link>
				</li>
			</ul>
		</nav>
	</header>
</template>

<script>
	import { mapState } from 'vuex';
	export default {
		name: "Navbar",

		methods: {
			async loguot() {
				await this.$store.dispatch('logout');
				this.$router.push('/login?message=loguot');
			}
		},

		data: () => ({
			linksForAll: [
				{title: 'Главная', url: '/', exact: true},

			],
			linksForLoggined: [
				{title: 'Редактор', url: '/edit'}
			]
		}),

		computed: mapState(['userId']),
	}
</script>

<style scoped>
	/* Flex Group */
	header nav,
	header nav ul,
	header nav ul li a {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		align-content: stretch;
	}
	/* Components */
	header nav {
		background-color: #2c3e50;
	}
	header nav {
		justify-content: space-between;
	}
	header nav ul {
		float: left;
	}
	header nav ul,
	header nav ul li a {
		justify-content: flex-start;
		list-style: none;
		padding: 0;
		margin: 0;
	}
	header nav ul li {
		height: 100%;
	}
	header nav ul li a {
		padding: 20px;
		color: #fff;
		text-decoration: none;
		border-bottom: 4px solid transparent;
	}
	header nav ul li a:hover,
	header nav ul li.active a {
		background-color: #233140;
	}
	header nav ul li.active a {
		border-color: #41b883;
	}
	header nav ul li a img {
		max-width: 20px;
	}
	.h {
		display: none;
	}
</style>