<template>
	<!-- Posts -->
	<div class="posts">
		<div class="post" v-for="(record, idx) of records" :key="record.id">
			<!-- Post View -->
			<span>{{record.date}}</span>
			<h4>{{record.headline}}</h4>
			<p>{{record.posttext}}</p>
			<div class="post_control">
				<button class="btn btn-edit" @click="modal">Редактировать</button>
				<button class="btn btn-remove" @click="removeQuestion">
					Удалить запись
				</button>
				<!-- Subject -->
				<div class="controlSubject h">
					<div class="modalTitle">
						Вы уверены?
					</div>
					<button @click="remove($event, idx)">Да</button>
					<button @click="removeCancel">Нет</button>
				</div>
				<!-- / Subject -->
			</div>
			<!-- / Post View -->
			<!-- Post Update -->
			<div class="post_update h">
				<div class="close_area" @click="modal_close_area"></div>
				<form :id="idx" action="" @submit.prevent="updateSubmit">
					<button type="button" class="close" @click="modal_close">+</button>
					Редактировать
					<label>
						Название
					<textarea
						cols="30"
						rows="3"
						v-model="record.headline"
					>
						[[record.headline]]
					</textarea>
					</label>
					<label>
						Текст
					<textarea
						cols="30"
						rows="3"
						v-model="record.posttext"
					>
						[[record.posttext]]
					</textarea>
					</label>
					<button type="submit">Перезаписать</button>
				</form>
			</div>
			<!-- Post Update -->
		</div>
	</div>
	<!-- / Posts -->
</template>

<script>
	import firebase from 'firebase/app'
	export default {
		name: "PostsEdit",
		data: () => ({
			records: []
		}),
		async mounted() {
			const response = await firebase.database().ref('/records/').once('value');
			let a = await response.val();
			this.records = a;
			console.log(a)
		},
		methods: {
			async remove(record, id) {
				this.$store.dispatch('removePost', id);
				console.log(record);
				this.consoleLog(record)
			},
			consoleLog: function(record) {
				let windowControl = record.path[3];
				windowControl.classList.add('h');
			},
			removeQuestion: function(record) {
				let windowControl = record.path[1].children[2];
				windowControl.classList.remove('h');
			},
			removeCancel: function(record) {
				let windowControl = record.path[1];
				windowControl.classList.add('h');
			},

			async updateSubmit(record) {
				const currentId = record.path[0].id;
				const headline = record.path[0][1].value;
				const posttext = record.path[0][2].value;
				const date = new Date().toJSON();
				try {
					await firebase.database().ref('/records/').child(currentId).update({
						headline: headline,
						posttext: posttext,
						date: date
					});
					console.log('Записано!');

				} catch (e) {
					console.log("ERROR")
				}
				// console.log(record)
				// console.log(currentId, headline, posttext, date)
				// console.log(record.path[2])

				// Закрываем модалку

				let modal = record.path[2].children[4];
				modal.classList.add('h');

			},

			modal: function(record) {
				record.path[2].children[4].classList.remove('h');
				// console.log(record.path[2].children[4])
			},
			modal_close: function(record) {
				let modal = record.path[3].children[4];
				// console.log(record.path[3].children[4].classList[0]);
				modal.classList.add('h');
			},
			modal_close_area: function(record) {
				let modal = record.path[1];
				console.log(record.path[1]);
				modal.classList.add('h');
			},
		}
	}
</script>

<style scoped>
	.posts {
		display: flex;
		flex-direction: row-reverse;
		flex-wrap: wrap-reverse;
		justify-content: center;
		align-items: center;
		align-content: center;
	}
	.post {
		text-align: left;
		border: solid 1px;
		margin: 15px;
		padding: 15px;
		max-width: 290px;
	}
	.post_control {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: stretch;
		align-content: stretch;
		position: relative;
	}
	.btn.btn-edit:hover {
		background-color: #b8b22d;
	}
	.btn.btn-remove:hover {
		background-color: #b81523;
	}
	.post_update {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		align-content: stretch;
		z-index: 10;
	}
	.close_area {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(55,55,55,0.5);
	}
	.close {
		position: absolute;
		top: -15px;
		right: -15px;
		padding: 0;
		width: 30px;
		height: 30px;
		border-radius: 100%;
		border: none;
		background-color: red;
		color: #ffffff;
		font-weight: 600;
		font-size: 24px;
		transform: rotate(135deg);
		cursor: pointer;
	}
	.close:hover {
		background-color: #FF002E;
	}
	form {
		z-index: 10;
		background-color: #ffffff;
		padding: 15px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		align-content: stretch;
		position: relative;
	}
	form label {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: flex-start;
		align-content: stretch;
	}
	.controlSubject {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		align-content: stretch;
		z-index: 10;
		background-color: #fff;
		border: 1px solid #dedede;
	}
	.modalTitle {
		padding-right: 5px;
	}
	button:focus {
		outline: none;
	}
	.h {
		display: none;
	}
</style>