<template>
	<div class="wrapper">
		<h1>Страница редактирование записей</h1>
		<button class="btn btn-edit" @click="modal">Добавить новость</button>
		<!-- Modal -->
		<div class="modal h">
			<div class="close_area" @click="modal_close"></div>
			<div class="formContainer">
				<!-- Add New Post -->
				<form action="" @submit.prevent="handleSubmit">
					<button type="button" class="close" @click="modal_close">+</button>
					<label>
						Название записи
						<input
							type="text"
							placeholder="Введите название записи"
							v-model="headline"
							:class="{invalid: ($v.headline.$dirty && !$v.headline.required)}"
						>
						<small
							v-if="$v.headline.$dirty && !$v.headline.required"
						>
							headline не должен быть пустым
						</small>
					</label>
					<label>
						Текст записи
						<textarea
							cols="10"
							rows="10"
							placeholder="Введите тест записи"
							v-model="posttext"
							:class="{invalid: ($v.posttext.$dirty && !$v.posttext.required)}"
						>
						</textarea>
						<small
							v-if="$v.posttext.$dirty && !$v.posttext.required"
						>
							posttext не должен быть пустым
						</small>
					</label>
					<button type="submit" class="btn">Добавить запись</button>
				</form>
				<!-- / Add New Post -->
			</div>
		</div>
		<!-- / Modal -->
		<PostsEdit v-if="renderComponent"/>
	</div>
</template>

<script>
	import {required} from 'vuelidate/lib/validators'
	import PostsEdit from "@/components/app/PostsEdit";
	export default {
		name: "Edit",
		components: {PostsEdit},
		data: () => ({
			headline: '',
			posttext: '',
			renderComponent : true,
		}),
		validations: {
			headline: {required},
			posttext: {required}
		},
		methods: {
			async handleSubmit() {
				if (this.$v.$invalid) {
					this.$v.$touch();
					return
				}

				try {
					await this.$store.dispatch('createRecord', {
						headline: this.headline,
						posttext: this.posttext,
						date: new Date().toJSON()
					});
					console.log('Записано!');
					this.$v.$reset();
					this.headline = '';
					this.posttext = '';
					this.modal_close();
					this.forceRerender();


				} catch (e) {
					console.log('ERROR')
				}
				console.log('Отправка')
			},
			forceRerender() {
				this.renderComponent = false;
				this.$nextTick(() => {
					this.renderComponent = true;
				});
			},
			// Modal
			modal: function() {
				document.querySelector('.modal').classList.remove('h');
			},
			modal_close: function() {
				document.querySelector('.modal').classList.add('h');
			},
		}
	}
</script>

<style scoped>
	.wrapper {
		width: 100%;
	}
	form {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: stretch;
		align-content: stretch;
		border: solid 1px #dedede;
		padding: 15px;
		max-width: 290px;
		margin: auto;
		background-color: #fff;
	}
	form label {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: flex-start;
		align-content: stretch;
	}
	form label input {
		height: 30px;
		margin: 5px 0 15px 0;
		border-radius: 2px;
		border: solid 1px #dedede;
		width: 100%;
	}
	form label textarea {
		width: 100%;
		max-width: 100%;
		padding: 0;
		margin: 0 0 15px 0;
	}
	.close {
		position: absolute;
		top: -15px;
		right: -15px;
		padding: 0;
		width: 30px;
		height: 30px;
		border-radius: 100%;
		border: none;
		background-color: red;
		color: #ffffff;
		font-weight: 600;
		font-size: 24px;
		transform: rotate(135deg);
		cursor: pointer;
	}
	.close:hover {
		background-color: #FF002E;
	}
	.modal {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		align-content: stretch;
		z-index: 10;
	}
	.close_area {
		background-color: rgba(55,55,55,0.5);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	.formContainer {
		position: relative;
		z-index: 10;
	}
	button:focus {
		outline: none;
	}
	.h {
		display: none;
	}
</style>