<template>
	<div class="wrapper">
		<h1>Главная страница приложения</h1>
		<div class="posts">
			<div class="post" v-for="(record, idx) of records" :key="record.id">
				<span>{{record.date}}</span>
				<h4>{{record.headline}}</h4>
				<p>{{record.posttext}}</p>
				<button
					class="btn"
					@click="$router.push('/single/' + idx)"
				>
					Подробнее
				</button>
			</div>
		</div>
	</div>
</template>

<script>
	import firebase from 'firebase/app'

	export default {
		name: "Home",
		data: () => ({
			records: []
		}),
		async mounted() {
			const response = await firebase.database().ref('/records/').once('value');
			let a = await response.val();
			this.records = a;
		}
	}
</script>

<style scoped>
	.wrapper {
		width: 100%;
	}
	.posts {
		display: flex;
		flex-direction: row-reverse;
		flex-wrap: wrap-reverse;
		justify-content: center;
		align-items: center;
		align-content: center;
	}
	.post {
		text-align: left;
		border: solid 1px;
		margin: 15px;
		padding: 15px;
		max-width: 290px;
		width: 25%;
	}
</style>