<template>
	<div class="auth_window">
		<h2>
			Вход
		</h2>
		<form action="" @submit.prevent="submitHandler">
			<label>
				Логин
				<input
					type="email"
					v-model.trim="email"
					:class="{invalid: ($v.email.$dirty && !$v.email.required) || ($v.email.$dirty && !$v.email.email)}"
					placeholder="Введите ваш логин"
				>
				<small
						v-if="$v.email.$dirty && !$v.email.required"
				>
					Email не должен быть пустым
				</small>
				<small
						v-else-if="$v.email.$dirty && !$v.email.email"
				>
					Введите корректный Email
				</small>
			</label>
			<label>
				Pass
				<input
					type="password"
					v-model.trim="password"
					:class="{invalid: ($v.password.$dirty && !$v.password.required) || ($v.password.$dirty && !$v.password.minLength)}"
					placeholder="Enter password"
				>
				<small
						v-if="$v.password.$dirty && !$v.password.required"
				>
					Password не должен быть пустым
				</small>
				<small
						v-else-if="$v.password.$dirty && !$v.password.minLength"
				>
					Password состоит из 6 символов. Сейчас он составляет {{password.length}}
				</small>
			</label>
			<button class="btn" type="submit">Войти</button>
		</form>
		<p>
			Если у вас нет аккаунта <br> перейдите на страницу <router-link to="/registration">регистрации</router-link>,или перейти на <router-link to="/">главную</router-link>
		</p>
	</div>
</template>

<script>
	import {email, required, minLength} from 'vuelidate/lib/validators'
	export default {
		name: "Login",
		data: () => ({
			email: '',
			password: ''
		}),
		validations: {
			email: {email, required},
			password: {required, minLength: minLength(6)}
		},
		methods: {
			async submitHandler() {
				if (this.$v.$invalid) {
					this.$v.$touch();
					return
				}
				const formData = {
					email: this.email,
					password: this.password
				};
				try {
					let r = await this.$store.dispatch('login', formData);
					console.log(r);
					await this.$router.push('/edit');
				} catch (e) {
					console.log(e);
				}
			}
		}
	}
</script>

<style scoped>
	form {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: stretch;
		align-content: stretch;
		border: solid 1px #dedede;
		padding: 15px;
	}
	form label {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: flex-start;
		align-content: stretch;
	}
	form label input {
		height: 30px;
		margin: 5px 0 15px 0;
		border-radius: 2px;
		border: solid 1px #dedede;
		width: 100%;
	}
	.auth_window a {
		color: #41b883;
	}
	.invalid {
		border-color: red;
	}
	.invalid ~ small {
		color: red;
	}
</style>