<template>
	<div class="auth_window">
		<h2>
			Регистрация
		</h2>
		<form action="" @submit.prevent="submitHandler">
			<label>
				Имя
				<input
					type="text"
					v-model.trim="name"
					placeholder="Введите ваше имя"
					:class="{invalid: ($v.name.$dirty && !$v.name.required)}"
				>
				<small
					v-if="$v.name.$dirty && !$v.name.required"
				>
					Имя не должно быть пустым
				</small>
			</label>
			<label>
				Логин
				<input
					type="email"
					v-model.trim="email"
					:class="{invalid: ($v.email.$dirty && !$v.email.required) || ($v.email.$dirty && !$v.email.email)}"
					placeholder="Введите ваш логин"
				>
				<small
						v-if="$v.email.$dirty && !$v.email.required"
				>
					Email не должен быть пустым
				</small>
				<small
						v-else-if="$v.email.$dirty && !$v.email.email"
				>
					Введите корректный Email
				</small>
			</label>
			<label>
				Пароль
				<input
						type="password"
						v-model.trim="password"
						:class="{invalid: ($v.password.$dirty && !$v.password.required) || ($v.password.$dirty && !$v.password.minLength)}"
						placeholder="Enter password"
				>
				<small
						v-if="$v.password.$dirty && !$v.password.required"
				>
					Пароль не должен быть пустым
				</small>
				<small
						v-else-if="$v.password.$dirty && !$v.password.minLength"
				>
					Пароль состоит из 6 символов. Сейчас он составляет {{password.length}}
				</small>
			</label>
			<label class="check_label">
				<input type="checkbox" v-model="agree">
				Я согласен с
				<a href="#" target="_blank">условиями регистрации</a>
			</label>
			<button class="btn" type="submit">Зарегистрироваться</button>
		</form>
		<p>
			Если у вас уже есть аккаунт, <br> перейдите на страницу для <router-link to="/login">входа</router-link>
		</p>
	</div>
</template>

<script>
	import {email, required, minLength} from 'vuelidate/lib/validators'
	export default {
		name: "Registration",
		data: () => ({
			name: '',
			email: '',
			password: '',
			agree: false
		}),
		validations: {
			name: {required},
			email: {email, required},
			password: {required, minLength: minLength(6)},
			agree: {checked: v => v}
		},
		methods: {
			async submitHandler() {
				if (this.$v.$invalid) {
					this.$v.$touch();
					return
				}
				const formData = {
					name: this.name,
					email: this.email,
					password: this.password
				};

				try {
					await this.$store.dispatch('register', formData);
					await this.$router.push('/');
				} catch (e) {
					console.log(e)
				}
			}
		}
	}
</script>

<style scoped>
	form {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: stretch;
		align-content: stretch;
		border: solid 1px #dedede;
		padding: 15px;
	}
	form label {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: flex-start;
		align-content: stretch;
	}
	form label input {
		height: 30px;
		margin: 5px 0 15px 0;
		border-radius: 2px;
		border: solid 1px #dedede;
		width: 100%;
	}
	.check_label {
		display: block;
		line-height: 20px;
		margin-bottom: 15px;
	}
	.check_label input {
		width: 25px;
		float: left;
		margin: 0 10px 0 0;
		cursor: pointer;
	}
	.auth_window a {
		color: #41b883;
	}
	.invalid {
		border-color: red;
	}
	.invalid ~ small {
		color: red;
	}
</style>