<template>
	<div class="wrapper">
		<div class="post_single">
			<h2>{{record.headline}}</h2>
			<span>{{record.date}}</span>
			<p>
				{{record.posttext}}
			</p>
		</div>
	</div>
</template>

<script>
	import firebase from 'firebase/app'

	export default {
		name: "single",
		data: () => ({
			record: []
		}),
		async mounted() {
			const id = this.$route.params.id;
			const response = await firebase.database().ref('/records/').child(id).once('value');
			let a = await response.val();
			this.record = a;
			console.log(id)
		},
	}
</script>

<style scoped>
	.post_single {
		padding: 15px;
		text-align: left;
	}
</style>