<template>
	<div id="app">
		<component :is="layout">
			<router-view/>
		</component>
	</div>
</template>

<script>
	import MainLayout from "@/layouts/MainLayout";
	import AuthLayout from "@/layouts/AuthLayout";


	export default {
		name: 'app',
		computed: {
			layout() {
				return (this.$route.meta.layout || 'main') + '-layout'
			}
		},
		components: {
			MainLayout, AuthLayout
		}
	}
</script>

<style>
	body {
		padding: 0;
		margin: 0;
		background-color: #fefefe;
	}
	#app {
		font-family: 'Avenir', Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		color: #2c3e50;
	}
	main {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		align-content: stretch;
	}
	.btn {
		background-color: #2c3e50;
		border: none;
		color: #fff;
		padding: 15px;
		cursor: pointer;
		border-radius: 2px;
	}
	.btn:hover {
		background-color: #41b883;
	}
	a, button {
		transition: all 0.2s;
	}
</style>
