<template>
	<div class="wraper">
		<main>
			<router-view />
		</main>
	</div>
</template>

<script>
	import messages from "@/utils/messages";

	export default {
		name: "auth-layout",
		computed: {
			error() {
				return this.$store.getters.error
			}
		},
		watch: {
			error(fbError) {
				console.log(messages[fbError.code] || 'Что-то пошло не так');
			}
		}
	}
</script>

<style scoped>
	main {
		min-height: calc(100vh);
	}
</style>