<template>
	<div class="wraper">
		<Header/>
		<main>
			<router-view />
		</main>
		<Footer/>
	</div>
</template>

<script>
	import Header from "@/components/app/Header";
	import Footer from "@/components/app/Footer";

	export default {
		name: "main-layout",
		components: {
			Footer,
			Header,
		},
	}
</script>

<style scoped>
	main {
		min-height: calc(100vh - 162px);
	}
</style>